@import href='http://fonts.googleapis.com/css?family=Josefin+Sans';

body {
    font-family: "Josefin Sans",sans-serif;
}

ul {
  padding: 0px;
}

li {
  padding: 5px;
  list-style: none;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.positive {
  background-color: #99c957;
}

.negative {
  background-color: #f7931d;
}

#query-box {
  width: 300px;
  margin: 0px auto;
  color: #00b9f1;
  text-align: center;
}

